.watchlists {
	ul {
		@include reset-list();
		margin: 0 -1%;
	}
	li {
		@include box-sizing(border-box);
		border: 1px solid $gray-light;
		float: left;
		margin: 0 1% 10px 1%;
		padding: 10px;
		width: 23%;
		@media only screen and (max-width: $limiter-max-width) {
			& {
				width: 31%;
			}
		}
		@media only screen and (max-width: $middle-max-width) {
			& {
				width: 45%;
			}
		}
		@media only screen and (max-width: $narrow-max-width) {
			& {
				.name {
					font-size: 0.75em;
				}
			}
		}
	}
	.name {
		clear: both;
		display: block;
		font-weight: bold;
		overflow: hidden;
		padding: 10px 0 0;
		text-align: center;
		text-transform: uppercase;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	img {
		display: block;
	}
	.watchlist .name {
		padding-top: 11px;
	}
	.watchlist img {
		float: left;
		margin: 8%;
		width: 34%;
		height: auto;
	}
	.add-new img {
		@include opacity(0.4);
		height: auto;
		width: 100%;
	}
}
.search-on-etsy {
	float: left;
	position: relative;
	width: 78%;
	form {
		@include box-sizing(border-box);
		border: 1px solid $gray-light;
		float: left;
		padding: 10px;
		position: relative;
		width: 70%;
		.etsy-keywords {
			height: 36px;
			width: 76%;
		}
		.button {
			height: 36px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.etsy-category-filter {
			padding: 8px 0 0;
			.etsy-categories {
				@include reset-list();
				margin-top: 8px;
			}
			.etsy-categories li {
				display: inline;
				margin-right: 10px;
			}
			.etsy-shipsto {
				margin-top: 8px;
			}
		}
	}
	.button-control {
		@include box-sizing(border-box);
		float: left;
		padding: 0 0 0 20px;
		width: 30%;
	}
	.button-save {
		@include opacity(0);
		@include transition (opacity 0.3s ease-in-out);
		height: 80px;
		width: 100%;
		&.show {
			@include opacity(1);
			@include transition (opacity 0.3s ease-in-out 0.5s);
		}
	}
}
.etsy-filters {
	clear: both;
	margin-top: 10px;
	ul {
		@include reset-list();
	}
	li {
		display: inline-block;
		background: $blue-light;
		border-radius: 4px;
		color: white;
		margin: 10px 10px 0 0;
		padding: 4px 10px 4px 16px;
		position: relative;
		a {
			background: $blue;
			border-radius: 4px 0 0 4px;
			color: white;
			display: block;
			padding-top: 3px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			text-align: center;
			width: 12px;
		}
	}
}
.search-on-etsy-results {
	clear: both;
	padding: 20px 0 0;
}
.search-on-etsy-results ul {
	@include reset-list();
	margin: 0 -4px;
	position: relative;
	&.pending {
		&:before {
			background: url('../images/ajax-loader.gif') no-repeat;
			content: '';
			height: 35px;
			left: 35%;
			margin-left: -18px;
			position: absolute;
			top: 40px;
			width: 35px;
		}
		li {
			@include opacity(0.3);
		}
	}
	li {
		border: 1px solid $gray-light;
		float: left;
		height: 176px;
		margin: 0 4px 14px 4px;
		padding: 6px;
		width: 172px;
	}
	.listing-text {
		overflow: hidden;
		padding: 6px 0 0;
	}
	.listing-title,
	.listing-shop,
	.listing-price {
		font-size: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.listing-shop,
	.listing-price {
		display: inline-block;
		width: 50%;
	}
	.listing-shop {
		color: $gray;
	}
	.listing-price {
		color: $green;
		font-weight: bold;
		text-align: right;
	}
}
.my-watchlists {
	float: right;
	width: 20%;
}
