.search-on-etsy {
	float: left;
	position: relative;
	width: 78%;
	form {
		@include box-sizing(border-box);
		border: 1px solid $gray-light;
		float: left;
		padding: 10px;
		position: relative;
		width: 70%;
		.etsy-keywords {
			height: 36px;
			width: 84%;
		}
		.button {
			height: 36px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.etsy-category-filter {
			padding: 8px 0 0;
			.etsy-categories {
				@include reset-list();
			}
			.etsy-categories li {
				display: inline;
				margin-right: 10px;
			}
		}
	}
	.button-control {
		@include box-sizing(border-box);
		float: left;
		padding: 0 0 0 20px;
		width: 30%;
	}
	.button-save {
		@include opacity(0);
		@include transition (opacity 0.3s ease-in-out);
		height: 80px;
		width: 100%;
		&.show {
			@include opacity(1);
			@include transition (opacity 0.3s ease-in-out 2s);
		}
	}
}
.etsy-filters {
	clear: both;
	margin-top: 10px;
	ul {
		@include reset-list();
	}
	li {
		display: inline-block;
		background: $blue-light;
		border-radius: 4px;
		color: white;
		padding: 4px 10px 4px 16px;
		position: relative;
		a {
			background: $blue;
			border-radius: 4px 0 0 4px;
			color: white;
			display: block;
			padding-top: 3px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			text-align: center;
			width: 12px;
		}
	}
}
.search-on-etsy-results {
	clear: both;
	padding: 20px 0 0;
}
.search-on-etsy-results ul {
	@include reset-list();
	margin: 0 -4px;
	position: relative;
	&.pending {
		&:before {
			background: url('../images/ajax-loader.gif') no-repeat;
			content: '';
			height: 35px;
			left: 35%;
			margin-left: -18px;
			position: absolute;
			top: 40px;
			width: 35px;
		}
		li {
			@include opacity(0.3);
		}
	}
	li {
		border: 1px solid $gray-light;
		float: left;
		margin: 0 4px 14px 4px;
		padding: 6px;
		width: 172px;
	}
	.listing-text {
		overflow: hidden;
		padding: 6px 0 0;
	}
	.listing-title,
	.listing-shop,
	.listing-price {
		font-size: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.listing-shop,
	.listing-price {
		display: inline-block;
		width: 50%;
	}
	.listing-shop {
		color: $gray;
	}
	.listing-price {
		color: $green;
		font-weight: bold;
		text-align: right;
	}
}
.my-watchlists {
	float: right;
	width: 20%;
}
