.toggle-trigger {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	&:before {
		content: '';
		@include triangle(8px, black, right);
		position: absolute;
		left: 2px;
		top: 3px;
	}
	&.open:before {
		@include triangle(8px, black, down);
		left: 0;
		top: 4px;
	}
}
.toggle-area {
	display: none;
	&.open {
		display: block;
	}
}
